<div class="timeline">
  <ul>
    <% trip.legs.each do |leg| %>
      <li>
        <%= render 'trips/timeline_content', poi: leg.point_of_interest, leg: leg %>
      </li>
    <% end %>
    <% if first_poi.present? %>
      <li>
        <%= render 'trips/timeline_firstPOI', first_poi: first_poi %>
      </li>
    <% end %>
  </ul>
</div>
