// Define variables for your color scheme

// For example:

$red: #FF6B6B;
$blue: #93B7BE;
$gray: #696969;
$yellow: #FDB631;
$orange: #E67E22;
$green: #87B38D;
$light-gray: #F4F4F4;
$primary-color: #FF6B6B;
$secondary-color: #93B7BE;
