.container {
  // position: fixed;
  margin: 0 0;
  width: 100vw;
  align-content: center;
}
.dashboard-card {
  margin: 20px 20px;
}
.card-country {
  color: $red;
}
.first-img {
  background-color: gray;
  height: 200px !important;

}

.modal-dialog {
  border-radius: 5px;

}
.dashboard-card-img {
  height: 200px !important;
}

.info-dashboard{
  height: 318px;
  width: 487px;
  background-color: white;
  box-shadow: 0 2px 7px rgba(62, 9, 11, 0.3);
  border-radius: 5px;
  margin-top: 29px;
}
.carousel-caption {
  padding-bottom: 0px;
  p {
    padding-bottom: 10px !important;
    margin-bottom: 0px !important;

  }
  h3 {
    padding-bottom: 50px !important;
  }
}

.btn-dashboard {
    margin-top: 8px;
    padding: 5px 40px;
    border-radius: 50px;
}
