// Specific CSS for your home-page
#new_trip {
  display: inline-flex;
  .form-btm {
    margin: 0 5px;
  }
  .form-group {
    margin: 0 5px;
    align-self: center;
  }
}

.sub-heading {
  color: rgb(127, 127, 127);
}

.trand-cities {
  color: $gray;
  background-color: white;
  text-align: center;
  padding: 50px 0;
}

.content-container {
  display: flex;
}

.free-trip-p-container {
  display: inline-flex;
  align-items: center;
  text-align: left;
  margin-top: 25px;
  padding: 0 30px;
  span {
    color: rgb(127, 127, 127);
  }
}

.icon {
  margin-right: 20px;
  font-size: 40px;
  color: rgb(127, 127, 127);
}
.cities-cards-heading {
  color: $gray;
  text-align: center;
  padding: 50px 0;
}

.card-container {
  padding: 50px 0;
}
.t-plans-sub-heading {
  margin-top: 100px;
  margin-bottom: 50px;
}
.trand-cities {
  color: $gray;
}
.plans-sub-header {
  font-family: $headers-font;
  color: $red;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 0 3px 15px rgba(62, 9, 11, 0.3);
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 0;
  padding: 15px;
  margin: 0 auto;
  font-size: 15px;
  width: 600px;
}
.icon {
  color: $red;
}
.label-header {
  text-transform: uppercase;
  font-family: $headers-font;
  margin: 0;
  font-weight: lighter;
}


// TRENDING //

.trending-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.trending-card {
  height: 270px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  // position: relative;
  margin: 10px;
  width: 300px;
  text-align: center;
  &:hover {
    background-size: inherit !important;
    transition: all 5s ease;
  }
}

.row-display {
  display: flex;
  justify-content: space-around;
}

.trending-card-btn {
  background-color: transparent;
  margin-top: 120px;
  font-family: Roboto;
}

.trending-h {
  margin-top: 100px;
  margin-bottom: 50px;
}


