.trip-container {
  margin: 25px auto;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards-wrap {
  width: 300px;
  flex: 0 1 auto;
  height: calc(100vh - 125px);
  margin-right: 25px;
  h4 {
    font-family: $headers-font;
    color: $primary-color;
  } p {
    color: $gray;
    font-family: $body-font;
  }
}
.cards-container {
  height: calc(100% - 115px);
  overflow-y: scroll;
  direction: rtl;
}
.cards-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #F5F5F5;
  border-radius: 5px;
}
.cards-container::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.cards-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,
                     40% 0%,
                     75% 84%,
                     from(#FF6B6B),
                     to(#FF6B6B))
}
.cards {
  margin-left: 25px;
}


.map-container {
  width: 600px;
  flex: 1 1 auto;
}
#map {
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  border-radius: 5px;
  height: calc(100vh - 125px);
}


