<% binding.pry %>
<%= link_to trip_point_of_interest_leg_path(trip, poi, leg), method: :delete, remote: true do %>
  <p data-remote="true" class="destroy-to-trip card-btn added-poi-btn btn">Added To Trip</p>
<% end %>

