<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/kimkardashian/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/lewagonlondon/?brand_redir=116941945171079"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>

  </div>
  <div class="footer-copyright">
    All Rights Reserved. ©2018
  </div>
</div>
