<%= render 'shared/banner' %>

<section id="about" class="trand-cities">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="t-plans-sub-heading">
          <h3 class="plans-sub-header">Use Tripper to Plan Your Perfect Holiday</h3>

          <p class="sub-heading">Explore features of Tripper to plan your trip</p>
        </div>
        <div class="free-t-planner">

          <div class="content-container">
            <div class="home-left-container">
              <div class="free-trip-p-container">
                <i class="icon fas fa-calendar-alt"></i>
                <p>
                  <label class="label-header">Personalized Trip Planning</label><br>
                  <span>Plan your perfect trip based on your preferences and time</span>
                </p>
              </div>
              <div class="free-trip-p-container">
                <i class="icon fa fa-clock"></i>
                <p>
                  <label class="label-header">Custom Itineraries for you</label><br>
                  <span>Our intuitive itineraries curated just for you by the smart algorithms</span>
                </p>
              </div>
              <div class="free-trip-p-container">
                <i class="icon fas fa-walking" style="margin-right: 40px;"></i>
                <p>
                  <label class="label-header">Tours & Experiences</label><br>
                  <span>Make sure you don't miss out on the best things to eat, drink, see & do</span>
                </p>
              </div>
            </div>

            <div class="home-right-container">
              <div class="free-trip-p-container">
                <i class="icon fa fa-bed"></i>
                <p>
                  <label class="label-header">Book your Stay</label><br>
                  <span>Find the best places to stay that fits your comfort</span>
                </p>
              </div>
              <div class="free-trip-p-container">
                <i class="icon fas fa-users"></i>
                <p>
                  <label class="label-header">Plan a Trip with your Group</label><br>
                  <span>Easily plan a trip with your friends, family and colleagues</span>
                </p>
              </div>
              <div class="free-trip-p-container">
                <i class="icon fa fa-map-marker" style="margin-right: 32px;"></i>
                <p>
                  <label class="label-header">Your Trip Cost Calculator</label><br>
                  <span>Worried about the budget! Know how much you will spend on your trip</span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container trending">
    <div class="trending-title">
      <h3>Trending Destinations</h3>
      <p>Hightlights From Tripper</p>
    </div>

    <% current_user.trips.each do |trip| %>
      <% location = [] %>
      <%= location << trip.start_location %>
    <% end %>


    <div class="trending-content">
      <div class="upper-block">

        <div class="container">
          <div class="row row-display">

              <div class="trending-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2>Le Wagon Shanghai</h2>
                  <p>Very cool city, the best</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>

              <div class="trending-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2>Le Wagon Shanghai</h2>
                  <p>Very cool city, the best</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>

          </div>
        </div>

      </div>

      <div class="middle-block">

        <div class="container">
          <div class="row row-display">

              <div class="trending-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2>Le Wagon Shanghai</h2>
                  <p>Very cool city, the best</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>

              <div class="trending-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2>Le Wagon Shanghai</h2>
                  <p>Very cool city, the best</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>

              <div class="trending-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2>Le Wagon Shanghai</h2>
                  <p>Very cool city, the best</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>

          </div>
        </div>

      </div>

      <div class="lower-block">

        <div class="container">
          <div class="row row-display">

              <div class="trending-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2>Le Wagon Shanghai</h2>
                  <p>Very cool city, the best</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>

              <div class="trending-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2>Le Wagon Shanghai</h2>
                  <p>Very cool city, the best</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<%#= render 'shared/cards' %>
