<%= render 'shared/banner' %>

<section id="about" class="trand-cities">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="t-plans-sub-heading">
          <h3>Plan a Trip with Free Trip Planner</h3>

          <p class="sub-heading">Explore features of Tripper trip planner to plan your trip</p>
        </div>
        <div class="free-t-planner">

          <div class="content-container">
            <div class="left-container">
              <div class="free-trip-p-container">
                <i class="icon fas fa-calendar-alt"></i>
                <p>
                  <label>Personalized Trip Planning</label><br>
                  <span>Plan your perfect trip based on your preferences and time</span>
                </p>
              </div>
              <div class="free-trip-p-container">
                <i class="icon fa fa-clock"></i>
                <p>
                  <label>Custom Itineraries for you</label><br>
                  <span>Our intuitive itineraries curated just for you by the smart algorithms</span>
                </p>
              </div>
              <div class="free-trip-p-container">
                <i class="icon fas fa-walking" style="margin-right: 40px;"></i>
                <p>
                  <label>Tours & Experiences</label><br>
                  <span>Make sure you don't miss out on the best things to eat, drink, see & do</span>
                </p>
              </div>
            </div>

            <div class="right-container">
              <div class="free-trip-p-container">
                <i class="icon fa fa-bed"></i>
                <p>
                  <label>Book your Stay</label><br>
                  <span>Find the best places to stay that fits your comfort</span>
                </p>
              </div>
              <div class="free-trip-p-container">
                <i class="icon fas fa-users"></i>
                <p>
                  <label>Plan a Trip with your Group</label><br>
                  <span>Easily plan a trip with your friends, family and colleagues</span>
                </p>
              </div>
              <div class="free-trip-p-container">
                <i class="icon fa fa-map-marker" style="margin-right: 32px;"></i>
                <p>
                  <label>Your Trip Cost Calculator</label><br>
                  <span>Worried about the budget! Know how much you will spend on your trip</span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<%= render 'shared/cards' %>
