// .banner {
//   color: white;
//   text-align: center;
//   height: calc(100vh - 70px);
//   background-position: center;
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   background-size: cover !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .banner h1 {
//   font-size: 50px;
//   font-family: $headers-font;
//   text-transform: uppercase;
//   text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
// }
// .banner p {
//   font-size: 25px;
//   font-weight: lighter;
//   color: rgb(255, 255, 255);
//   opacity: 0.6;
//   margin-bottom: 30px;
// }

#suggestions {
  background-color: white;
  width: 200px;
  margin: 0 0 0 5px;
}

.suggestion {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: lightgrey;
  }
  p {
    padding: 15px;
    font-size: 14px;
    margin: 0;
    color: black;
  }
}.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-position: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: lighter;
  font-family: $headers-font;
  text-transform: uppercase;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#suggestions {
  background-color: white;
  width: 200px;
  margin: 0 0 0 5px;
  position: absolute;
  z-index: 1;
}

.suggestion {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: lightgrey;
  }
  p {
    padding: 15px;
    font-size: 14px;
    margin: 0;
    color: black;
  }
}
.form-btn {
  height: 39px !important;
  padding: 5px 30px;
  font-size: 18px;
  font-family: $headers-font;
  text-transform: uppercase;
  color: $light-gray;
  border: none;
  margin-left: 5px;
  &:hover {
    background-color: #d35252;
  }
}
// .form-button {
//   background-color: $red;
//   color: $light-gray;
//   padding: 20px 10px;
//   font-family: $body-font;
//   border-radius: 5px;
//   height: 39px;
//   width: 100px;
//   &:hover {
//     background-color: #fc4444;
//   }
// }
